.assortment {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: var(--gap);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__text {
    margin: 0;
    max-width: 570px;
    line-height: 1.3;
    font-family: var(--second-family);

    &--extra {
      max-width: 695px;
      font-weight: 700;
      font-size: 24px;
    }
  }

  &__brands {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__brand {
    font-family: var(--second-family);
    font-size: 20px;
    color: var(--color-gray-500);
  }

  &__slider {
  }

  &__arrows {
  }

  &__arrow {
  }

  &__arrow--prev {
  }
  &__arrow-img {
  }

  &__arrow--next {
  }

  &__slide {
  }
  &__img {
  }
}

@media (max-width: 1199px) {
  .assortment {
    &__wrapper {
      grid-template-columns: 1fr;
      gap: 60px;
    }

    &__content {
      gap: 40px;
    }

    &__brand {
      font-size: 16px;
    }

    &__text {
      max-width: 90%;

      &--extra {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 767px) {
  .assortment {
    &__text {
      font-size: 12px;
      max-width: 100%;

      &--extra {
        font-size: 16px;
      }
    }

    &__brand {
      font-size: 14px;
    }
  }
}

@media (max-width: 479px) {
  .assortment {
    &__text {
      &--extra {
        font-size: 14px;
      }
    }
  }
}
