.consultation {
  position: relative;
  background-color: var(--color-gray-900);

  &::before {
    position: absolute;
    top: 0;
    content: "";
    background-color: var(--color-bg);
    width: 100%;
    height: 70px;
    -webkit-clip-path: polygon(0 0, 100% 0%, 0px 100%, 0 0px);
    clip-path: polygon(0 0, 100% 0%, 0px 100%, 0 0px);
  }

  &::after {
    position: absolute;
    bottom: 0;
    content: "";
    background-color: var(--color-bg);
    width: 100%;
    height: 70px;
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 90px;
    column-gap: 60px;
    align-items: end;
    padding: 240px 0;
  }

  &__title {
    max-width: 720px;
    color: var(--color-third);
    padding-bottom: 0;
  }

  &__btn {
    position: relative;
    width: 100%;
    flex: 1 1 480px;
    max-width: 625px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    z-index: 1;

    &::after {
      position: absolute;
      inset: 0;
      content: "";
      width: 100%;
      height: 100%;
      background: var(--color-secondary);
      filter: blur(82.5999984741211px);
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
  }
}
