.contact-block {
  &__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-bottom: 40px;
  }

  &__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 35px 20px 20px 40px;
    background-color: var(--color-gray-100);
    border-radius: var(--radius);
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
  }

  &__tel {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 180px;
    padding: 15px 20px;
    text-align: center;
    font-weight: 700;
    color: var(--color-white);
    border-top-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    background-color: var(--color-secondary);

    &:hover {
      color: var(--color-red-400);
    }
    &:active {
      color: var(--color-red-200);
    }
  }

  &__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  &__subhead {
    position: relative;
    font-family: var(--second-family);
    font-size: 24px;
    font-weight: 700;
    padding-left: 35px;

    &::before {
      position: absolute;
      content: "";
      top: -2px;
      left: 0;
      width: 24px;
      height: 24px;
      background-image: url("../img/star.svg");
    }
  }

  &__text {
    margin: 0;
  }

  &__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
    padding: 15px 0;
  }

  &__address,
  &__mail {
    padding-left: 40px;
  }

  &__address {
    font-style: normal;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: -1px;
      left: 0;
      width: 24px;
      height: 24px;
      background-image: url("../img/map.svg");
    }
  }

  &__mail {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: -1px;
      left: 0;
      width: 24px;
      height: 24px;
      background-image: url("../img/mail.svg");
    }
  }

  &__work-hours {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
  }

  &__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
  }
}

@media (max-width: 1199px) {
  .contact-block {
    &__item {
      padding-left: 25px;
    }
    &__info {
      max-width: 65%;
    }
  }
}

@media (max-width: 999px) {
  .contact-block {
    &__wrapper {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
    &__item {
      padding-left: 40px;
    }
    &__btn {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  }
}

@media (max-width: 768px) {
  .contact-block {
    &__item {
      padding-left: 20px;
    }

    &__subhead {
      font-size: 20px;
    }

    &__info {
      max-width: 60%;
    }
  }
}

@media (max-width: 479px) {
  .contact-block {
    &__item {
      padding-right: 10px;
      gap: 5px;
    }
    &__subhead {
      font-size: 16px;
    }

    &__contacts {
      padding-bottom: 5px;
      gap: 5px;
    }

    &__text {
      &--s {
        font-size: 12px;
      }
    }

    &__tel {
      padding: 10px 15px;
      width: auto;
    }
  }
}

@media (max-width: 359px) {
  .contact-block {
    &__tel {
      bottom: 0;
      top: initial;
      padding-left: 30px;
      padding-right: 30px;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: var(--radius);
      border-bottom-right-radius: var(--radius);
    }

    &__item {
      padding: 20px 20px 50px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: var(--gap);
    }

    &__info {
      max-width: none;
    }

    &__work-hours {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: start;
    }
  }
}
