.expert {
  position: relative;
  background-image: url("../img/line-back.jpg");
  background-repeat: repeat-x;
  background-position: bottom;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 55%;
    width: 20%;
    height: 41%;
    background-image: url("../img/expert-back-panel.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 27px;
    left: -19%;
    height: 450px;
    width: 60%;
    background-image: url("../img/expert-back-block.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
  }

  &__title {
    padding-bottom: 25px;
    max-width: 900px;
  }

  &__content {
    position: relative;
    padding-top: 40px;
    padding-bottom: 310px;
    z-index: 1;
  }

  &__info {
    max-width: 75%;
  }

  &__descr {
    padding-bottom: 80px;
    margin: 0;
    max-width: 70%;
    font-size: 20px;
  }

  &__btn {
    width: auto;
  }
}

@media (max-width: 1199px) {
  .expert {
    &::after {
      left: -24%;
    }
    &__content {
      padding-top: 50px;
      padding-bottom: 130px;
    }
  }
}

@media (max-width: 999px) {
  .expert {
    &::before {
      width: 175px;
      height: 185px;
      background-size: contain;
    }

    &::after {
      left: -17%;
      height: 70%;
      width: 55%;
    }

    &__title {
      padding-bottom: 15px;
    }

    &__descr {
      padding-bottom: 40px;
    }
  }
}

@media (max-width: 767px) {
  .expert {
    &::before {
      left: auto;
      right: 0;
    }

    &::after {
      left: -57%;
      height: 95%;
      width: 86%;
    }

    &__content {
      padding-top: 25px;
      padding-bottom: 175px;
    }

    &__descr {
      font-size: 16px;
    }
    &__info {
      max-width: 90%;
    }
  }
}

@media (max-width: 479px) {
  .expert {
    &::before {
      width: 100px;
      height: 101px;
    }
    &::after {
      height: 95%;
      width: 129%;
      left: -100%;
    }

    &__content {
      padding-top: 45px;
      padding-bottom: 120px;
    }

    &__info {
      max-width: 100%;
    }

    &__descr {
      font-size: 14px;
    }
  }
}

@media (max-width: 359px) {
  .expert {
    &::before {
      opacity: 0;
    }
    &::after {
      top: 0;
      right: 0;
      bottom: auto;
      left: 0;
      height: 54%;
      width: 94%;
      background-position: left top;
      -webkit-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
      transform: scale(1, -1);
    }

    &__content {
      padding-top: 0;
      padding-bottom: 130px;
    }

    &__descr {
      max-width: 100%;
    }
  }
}
