@font-face {
  font-family: WixMadeforText;
  font-display: swap;
  src: url("../fonts/WixMadeforText-Regular.ttf") format("ttf"),
    url("../fonts/WixMadeforText-Regular.woff") format("woff");
  font-weight: 400;
  font-style: regular;
}

@font-face {
  font-family: WixMadeforText;
  font-display: swap;
  src: url("../fonts/WixMadeforText-Medium.ttf") format("ttf"),
    url("../fonts/WixMadeforText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: WixMadeforText;
  font-display: swap;
  src: url("../fonts/WixMadeforText-SemiBold.ttf") format("ttf"),
    url("../fonts/WixMadeforText-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: semibold;
}

@font-face {
  font-family: WixMadeforText;
  font-display: swap;
  src: url("../fonts/WixMadeforText-Bold.ttf") format("ttf"),
    url("../fonts/WixMadeforText-Bold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: WixMadeforText;
  font-display: swap;
  src: url("../fonts/WixMadeforText-ExtraBold.ttf") format("ttf"),
    url("../fonts/WixMadeforText-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: extrabold;
}

@font-face {
  font-family: Unbounded;
  font-display: swap;
  src: url("../fonts/Unbounded-Regular.ttf") format("ttf"),
    url("../fonts/Unbounded-Regular.woff") format("woff");
  font-weight: 400;
  font-style: regular;
}
@font-face {
  font-family: Unbounded;
  font-display: swap;
  src: url("../fonts/Unbounded-Bold.ttf") format("ttf"),
    url("../fonts/Unbounded-Bold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: Unbounded;
  font-display: swap;
  src: url("../fonts/Unbounded-ExtraBold.ttf") format("ttf"),
    url("../fonts/Unbounded-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: extrabold;
}
