:root {
  --color-red-100: #fe000d;
  --color-red-200: #d7030a;
  --color-red-400: #90161c;
  --color-red-600: #874242;

  --color-gray-50: #fcfcfc;
  --color-gray-100: #f8f8f8;
  --color-gray-200: #e2e2e2;
  --color-gray-300: #dbdbdb;
  --color-gray-400: #d8d8d8;
  --color-gray-500: #a3a3a3;
  --color-gray-700: #858585;
  --color-gray-800: #606060;
  --color-gray-900: #2e2e2e;

  --color-white: #fefefe;
  --color-black: #252525;

  --color-bg: var(--color-white);
  --color-bg-secondary: var(--color-gray-900);

  --color-text-main: var(--color-black);

  --color-secondary: var(--color-red-100);
  --color-secondary-active: var(--color-red-400);

  --color-third: var(--color-white);

  --shadow: 0 4px 9px 0 rgba(167, 167, 167, 0.25);
  --overlay: rgba(0, 0, 0, 0.5);

  --container-width: 1600px;
  --gap: 20px;
  --radius: 20px;

  --font-family: "WixMadeforText", sans-serif;
  --second-family: "Unbounded", sans-serif;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background-color: var(--color-bg);
  font-family: "WixMadeforText", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--color-text-main);
  scrollbar-gutter: stable;
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  border: none;
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.title {
  font-family: var(--second-family);
  font-size: 96px;
  font-weight: 700;
  margin: 0;
}

.section {
  margin-top: 50px;
  margin-bottom: 90px;
  padding-top: 30px;
  padding-bottom: 27px; //height of the background image "line-back"

  &:last-child {
    margin-bottom: 120px;
  }

  &__title {
    font-size: 48px;
    font-weight: 700;
    font-family: var(--second-family);
    margin: 0;
    padding-bottom: 60px;
  }

  &__subhead {
    position: relative;
    margin: 0;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 20px;
    z-index: 1;
  }
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: calc(var(--container-width) + (var(--gap) * 2));

  &--expert,
  &--distributor,
  &--robotics,
  &--form-block {
    position: relative;
    max-width: calc(100% - ((100% - var(--container-width)) / 2) + var(--gap));
    padding: 0 0 0 40px;
    margin: 0 0 0 auto;
    overflow: hidden;
  }

  &--expert {
    &::before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 34%;
      width: 32%;
      height: 70%;
      background-image: url("../img/expert-man-left.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;
      z-index: 1;
    }

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      right: 0;
      width: 33%;
      height: 95%;
      background-image: url("../img/expert-man-right.png");
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: contain;
      z-index: 1;
    }
  }

  &--distributor {
    &::after {
      position: absolute;
      content: "";
      bottom: -20px;
      right: -5%;
      width: 35%;
      height: 90%;
      background-image: url("../img/distr-man-right.png");
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: contain;
    }
  }

  &--robotics {
    &::after {
      position: absolute;
      bottom: 120px;
      right: -6%;
      content: "";
      background-image: url("../img/robotics-img.png");
      background-position: right bottom;
      background-repeat: no-repeat;
      background-size: contain;
      width: 824px;
      height: 1082px;
      z-index: 1;
    }
  }

  &--form-block {
    &::before {
      position: absolute;
      content: "";
      bottom: -4px;
      left: -3%;
      width: 45%;
      height: 95%;
      background-image: url("../img/form-man-left.svg");
      background-position: left bottom;
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 0;
    }

    &::after {
      position: absolute;
      content: "";
      bottom: -4px;
      right: -12%;
      width: 40%;
      height: 90%;
      background-image: url("../img/form-man-right.svg");
      background-position: right bottom;
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 2;
    }
  }
}

.text {
  margin: 0;

  &--bold {
    font-weight: 700;
  }

  &--red {
    color: var(--color-secondary);
  }

  &--gray {
    color: var(--color-gray-400);
  }

  &--large {
    font-size: 92px;
  }
}

.link {
  display: block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;

  &:hover {
    color: var(--color-secondary);
  }

  &--dropdown {
    position: relative;
    padding-right: 20px;
  }

  &--dropdown::after {
    position: absolute;
    content: "";
    background-image: url("../img/dropdown-arrow.svg");
    right: 0;
    top: 2px;
    height: 16px;
    width: 16px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  display: inline-block;
  padding: 20px 60px;
  border: 2px solid transparent;
  border-radius: var(--radius);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  font-family: var(--font-family);
  color: var(--color-white);
  background-color: var(--color-secondary);
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;

  &:focus {
    border-color: var(--color-secondary-active);
    border-width: 2px;
  }

  &:hover {
    border-color: var(--color-secondary);
    color: var(--color-secondary);
    background-color: var(--color-white);
  }

  &:active {
    border-color: var(--color-secondary);
    border-width: 3px;
    color: var(--color-secondary);
    background-color: var(--color-white);
  }

  &:disabled {
    color: var(--color-gray-700);
    background-color: var(--color-gray-300);
  }

  &--outline {
    border-color: var(--color-third);
    color: var(--color-third);
    background-color: transparent;
  }

  &--outline-red {
    border-color: var(--color-secondary);
    color: var(--color-secondary);
    background-color: transparent;
  }

  &--outline-red:focus {
    border-color: var(--color-secondary-active);
    border-width: 2px;
    color: var(--color-secondary-active);
  }

  &--outline-red:hover {
    border-color: transparent;
    color: var(--color-third);
    background-color: var(--color-secondary);
  }

  &--outline-red:active {
    border-color: var(--color-secondary-active);
    border-width: 2px;
    color: var(--color-third);
    background-color: var(--color-secondary);
  }

  &--outline-red:disabled {
    border-color: var(--color-gray-700);
    color: var(--color-gray-700);
  }
}

.logo {
  &__img {
    width: 209px;
    height: auto;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  gap: var(--gap);

  &__icon {
    width: 60px;
    height: 60px;
    opacity: 0.85;

    &:hover {
      opacity: 1;
    }
  }
}

.locked {
  overflow: hidden;
}

.centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 1439px) {
  .container {
    &--robotics {
      &::after {
        right: -20%;
      }
    }
  }
}

@media (max-width: 1199px) {
  .section {
    &__subhead {
      font-size: 16px;
    }
  }

  .container {
    &--expert,
    &--distributor,
    &--robotics,
    &--form-block {
      padding-right: 30px;
    }

    &--distributor {
      &::after {
        right: -10%;
        height: 70%;
      }
    }

    &--robotics {
      &::after {
        top: 20px;
        right: -14%;
        bottom: initial;
        height: 1040px;
        background-position: right top;
        z-index: 0;
      }
    }

    &--form-block {
      &::before {
        right: -2%;
        left: auto;
        background-position: right bottom;
        -webkit-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
      }
      &::after {
        opacity: 0;
      }
    }
  }

  .text {
    &--large {
      font-size: 64px;
    }
  }
}

@media (max-width: 999px) {
  .section {
    &__title {
      font-size: 32px;
      padding-bottom: 40px;
    }
  }

  .container {
    &--expert {
      &::after {
        height: 81%;
      }

      &::before {
        left: 34%;
        height: 60%;
      }
    }

    &--distributor {
      &::after {
        height: 265px;
      }
    }
  }

  .text {
    &--large {
      font-size: 48px;
    }
  }
}

@media (max-width: 767px) {
  .section {
    &__title {
      font-size: 24px;
    }
  }

  .container {
    padding: 0 20px;

    &--expert {
      &::before {
        left: 25%;
        height: 55%;
        width: 40%;
      }
    }
    &--robotics {
      &::after {
        top: 40px;
        height: 611px;
        width: 460px;
      }
    }

    &--distributor {
      &::after {
        bottom: -5px;
        left: 20px;
        height: 115px;
        background-position: left bottom;
      }
    }

    &--form-block {
      &::before {
        opacity: 0;
      }
    }
  }

  .socials {
    &__icon {
      width: 39px;
      height: 39px;
    }
  }

  .logo {
    margin: 0 auto;
    &__img {
      width: 130px;
    }
  }

  .btn {
    padding: 15px 45px;
    width: 100%;
  }

  .text {
    &--large {
      font-size: 36px;
    }
  }
}

@media (max-width: 649px) {
  .container {
    &--robotics {
      &::after {
        top: initial;
        bottom: 55px;
        left: -33%;
        height: 860px;
        width: 700px;
        background-position: left bottom;
        -webkit-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
      }
    }
  }
}

@media (max-width: 479px) {
  body {
    font-size: 14px;
  }

  .section {
    margin-bottom: 60px;

    &__title {
      font-size: 20px;
      padding-bottom: 30px;
    }

    &__subhead {
      font-weight: inherit;
      font-size: 12px;
    }
  }

  .container {
    padding: 0 15px;

    &--distributor {
      &::after {
        opacity: 0;
      }
    }

    &--robotics {
      &::after {
        left: -34%;
        height: 930px;
      }
    }
  }

  .centered {
    display: block;
  }

  .text {
    &--large {
      font-size: 24px;
    }
  }
}

@media (max-width: 359px) {
  .container {
    &--expert {
      &::before {
        left: 7%;
      }

      &--after {
        width: 41%;
      }
    }

    &--robotics {
      &::after {
        bottom: 320px;
        left: -25%;
        height: 630px;
        width: 480px;
      }
    }
  }

  .text {
    &--large {
      font-size: 20px;
    }
  }
}
