.news-slider {
  &__slider {
    padding-bottom: 40px;
  }

  &__arrow {
    top: 100%;
    -webkit-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    transform: translateY(-10%);
  }

  &__arrow--prev {
    left: 0;
  }

  &__arrow--next {
    right: 0;
  }

  &__arrow-img {
    border: 1px solid transparent;
    transition: border-color 0.3s;
    &:hover {
      border-color: var(--color-secondary);
    }
  }

  &__slide {
    position: relative;
    padding-bottom: 11px;
  }

  &__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: var(--color-gray-100);
    border-radius: var(--radius);
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
  }

  &__img {
    width: 100%;
    max-height: 255px;
    -o-object-fit: cover;
    object-fit: cover;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
  }

  &__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 15px;
  }

  &__link {
    &::after {
      position: absolute;
      content: "";
      inset: 0;
    }
  }

  &__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 15px;
    padding: 25px;
  }

  &__text {
    margin: 0;
    color: var(--color-gray-800);
    font-size: 13px;
  }

  &__date {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 13px;
    text-align: right;
    color: var(--color-secondary);
  }
}

@media (max-width: 999px) {
  .news-slider {
    &__slider {
      margin-bottom: 40px;
    }

    &__card {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      min-height: 290px;
    }

    &__img {
      max-height: none;
      border-bottom-right-radius: var(--radius);
      border-bottom-left-radius: var(--radius);
    }

    &__content {
      max-width: 55%;
      padding-top: 40px;
      padding-left: 40px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
  }
}

@media (max-width: 768px) {
  .news-slider {
    &__content {
      padding-top: 30px;
      padding-left: 30px;
      max-width: 60%;
    }
  }
}

@media (max-width: 479px) {
  .news-slider {
    &__card {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    &__content {
      padding: 20px;
      max-width: none;
      gap: 35px;
    }

    &__img {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    &__subtitle {
      font-weight: 700;
      font-size: 16px;
    }
  }
}
