.robotization-slider {
  &__arrows {
    max-width: calc(var(--container-width) + var(--gap) * 2);
  }

  &__arrow {
    top: 85%;

    &--prev {
      right: var(--container-width);
      left: auto;
    }
    &--next {
      left: var(--container-width);
    }
  }

  &__slide {
    position: relative;
    height: 100vh;

    &::before {
      position: absolute;
      content: "";
      background-image: linear-gradient(120deg, rgba(0, 0, 0), transparent);
      inset: 0;
      opacity: 0.25;
    }
  }

  &__inner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100vh;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    margin-bottom: 4%;
  }

  &__btns {
    display: flex;
    gap: 30px;
  }

  &__title {
    margin: 0;
    // max-width: 60%;
    color: var(--color-white);
    font-size: 64px;
    font-weight: 700;
    font-family: var(--second-family);
    opacity: 0;
    -webkit-animation: robotization-text 2.5s forwards;
    animation: robotization-text 2.5s forwards;
  }

  @keyframes robotization-text {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@media (max-width: 1699px) {
  .robotization-slider {
    &__arrow {
      &--prev {
        right: initial;
        left: 30px;
      }
      &--next {
        left: initial;
      }
    }
  }
}

@media (max-width: 1899px) {
  .robotization-slider {
  }
}

@media (max-width: 1023px) {
  .robotization-slider {
    &__content {
      gap: 40px;
    }
    &__title {
      font-size: 40px;
    }
  }
}

@media (max-width: 767px) {
  .robotization-slider {
    &__arrow--prev {
      left: 20px;
    }
    &__title {
      max-width: 90%;
      font-size: 36px;
    }

    &__content {
      gap: var(--gap);
    }
    &__btns {
      flex-direction: column;
      gap: 15px;
    }
  }
}

@media (max-width: 479px) {
  .robotization-slider {
    &__arrow--prev {
      left: 15px;
    }
    &__content {
      justify-content: center;
      align-items: center;
      gap: 40px;
    }

    &__title {
      max-width: 100%;
      text-align: center;
      font-size: 30px;
    }
  }
}
