.robotization-nums {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-family: var(--second-family);
  text-align: center;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--gap);
    padding: 20px 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    max-height: 310px;
    max-width: 655px;
    padding: 40px 118px 50px;
    background-color: var(--color-gray-100);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
  }

  &__subhead {
    font-size: 114px;
    &--text {
      font-size: 46px;
    }
  }
  &__text {
    font-size: 20px;
  }
}

@media (max-width: 1399px) {
  .robotization-nums {
    &__item {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
}
@media (max-width: 1199px) {
  .robotization-nums {
    &__item {
      gap: var(--gap);
    }
    &__subhead {
      font-size: 96px;
      &--text {
        font-size: 40px;
      }
    }
  }
}

@media (max-width: 1023px) {
  .robotization-nums {
    &__text {
      font-size: 16px;
    }
    &__item {
      padding: 40px 30px;
    }
    &__subhead {
      font-size: 48px;
      &--text {
        font-size: 24px;
      }
    }
  }
}

@media (max-width: 767px) {
  .robotization-nums {
    &__wrapper {
      grid-template-columns: 1fr;
    }
    &__item {
      padding: 20px 82px;

      &:nth-child(3) {
        order: 1;
      }
    }
  }
}

@media (max-width: 479px) {
  .robotization-nums {
    &__item {
      padding-left: 27px;
      padding-right: 27px;
    }
  }
}
