.robotics {
  position: relative;
  background-color: var(--color-gray-900);

  &::before {
    position: absolute;
    top: 0;
    content: "";
    background-color: var(--color-bg);
    width: 100%;
    height: 131px;
    -webkit-clip-path: polygon(0 0, 100% 0%, 0px 100%, 0 0px);
    clip-path: polygon(0 0, 100% 0%, 0px 100%, 0 0px);
  }

  &::after {
    position: absolute;
    bottom: 0;
    content: "";
    background-color: var(--color-bg);
    width: 100%;
    height: 131px;
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
  }

  &__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 60px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 220px;
    padding-bottom: 185px;
  }

  &__inner {
    max-width: 48%;
  }

  &__title {
    color: var(--color-third);
  }

  &__block {
    padding: 40px;
    max-width: 655px;
    margin-bottom: 50px;
    border-radius: var(--radius);
    background-color: var(--color-gray-700);
  }

  &__subhead {
    padding-bottom: 20px;
    font-family: var(--second-family);
    font-size: 24px;
    font-weight: 700;
    color: var(--color-third);
  }

  &__list-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding-left: 15px;
  }

  &__item-info {
    color: var(--color-gray-200);
    font-weight: 500;

    &::marker {
      color: var(--color-white);
    }
  }

  &__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }

  &__adv-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
  }

  &__adv-item {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 25px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 25px 50px 25px 20px;
    max-width: 385px;
    border-radius: var(--radius);
    background-color: var(--color-gray-700);
  }

  &__icon {
    width: 42px;
    height: 42px;
  }

  &__text {
    position: static;
    margin: 0;
    font-family: var(--second-family);
    font-size: 15px;
    color: var(--color-third);
    z-index: 2;
  }
}

@media (max-width: 1199px) {
  .robotics {
    &__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      gap: 100px;
      padding-top: 100px;
      padding-bottom: 170px;
    }

    &__inner {
      position: static;
      z-index: 2;
      max-width: 55%;
    }

    &__adv-list {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      row-gap: 20px;
      -webkit-column-gap: 10px;
      -moz-column-gap: 10px;
      column-gap: 10px;
    }

    &__adv-item {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 280px;
      flex: 1 1 280px;
      z-index: 1;
    }
  }
}

@media (max-width: 999px) {
  .robotics {
    &::before,
    &::after {
      height: 70px;
    }

    &__title {
      padding-bottom: 20px;
    }
    &__block {
      padding: 20px;
      margin-bottom: 40px;
      max-width: 410px;
    }
    &__subhead {
      font-size: 16px;
    }
    &__item-info {
      font-size: 14px;
    }
    &__adv-item {
      gap: 10px;
      padding-top: 20px;
      padding-right: 25px;
      padding-bottom: 20px;
    }
  }
}

@media (max-width: 767px) {
  .robotics {
    &__inner {
      max-width: 75%;
    }

    &__adv-list {
      -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
      column-gap: 20px;
    }
  }
}

@media (max-width: 649px) {
  .robotics {
    &__wrapper {
      -webkit-box-align: initial;
      -ms-flex-align: initial;
      align-items: initial;
    }
    &__btns {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: end;
      gap: var(--gap);
    }

    &__adv-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: end;
    }
    &__adv-item {
      -webkit-box-flex: 1;
      -ms-flex: auto;
      flex: auto;
      width: 385px;
    }
  }
}

@media (max-width: 479px) {
  .robotics {
    &::before,
    &::after {
      height: 95px;
    }

    &__wrapper {
      gap: 180px;
      padding-bottom: 145px;
    }

    &__inner {
      max-width: none;
    }

    &__block {
      max-width: none;
    }

    &__adv-item {
      padding-right: 10px;
      max-width: 325px;
    }

    &__btns {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }
}

@media (max-width: 359px) {
  .robotics {
    &::before,
    &::after {
      height: 55px;
    }

    &__wrapper {
      gap: 140px;
    }

    &__adv-list {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    &__adv-item {
      width: auto;
    }
  }
}
