.slider-main__pagination {
  bottom: 0;
  gap: 8px;
}

.slider-main__page {
  background-color: transparent;
  border: 2px solid var(--color-gray-700);
  width: 12px;
  height: 12px;
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
}

.slider-main__page.is-active {
  border: var(---color-secondary);
  background-color: var(--color-secondary);
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.slider-main-arrow,
.slider-secondary-arrow {
  width: 80px;
  height: 80px;
  background: transparent;
  border: 2px solid transparent;
  border-radius: 0;
  opacity: 1;
  -webkit-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  transition: ease-out 0.3s;

  &:hover {
    border-color: var(--color-white);
  }

  &:hover:not(:disabled) {
    opacity: 1;
  }
}

.slider-secondary-arrow {
}

@media (max-width: 999px) {
  .slider-main-arrow {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 767px) {
  .slider-main-arrow {
    width: 42px;
    height: 42px;
  }
}
