.team {
  &__slider {
    padding-bottom: 50px;
  }

  &__arrow--prev {
    left: 0;
  }

  &__arrow--next {
    right: 0;
  }

  &__slide {
    position: relative;
  }

  &__img {
    height: 100%;
  }
}

.person {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: end;
  content: "";
  background-color: rgba($color: #fff, $alpha: 0.7);
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;

  &__inner {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__name {
    padding-bottom: 5px;
    font-size: 36px;
    font-weight: 700;
    font-family: var(--second-family);
    color: var(--color-secondary);
  }

  &__text {
    margin: 0;
    font-weight: 600;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__tel,
  &__mail {
    position: relative;
    padding-left: 35px;
  }

  &__tel {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      background-image: url("../img/tel.svg");
      width: 24px;
      height: 24px;
    }
  }

  &__mail {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      background-image: url("../img/mail.svg");
      width: 24px;
      height: 24px;
    }
  }
}

.team__slide:hover .person {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1199px) {
  .team__slide:active .person {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 999px) {
  .person {
    &__name {
      font-size: 32px;
    }
  }
}

@media (max-width: 767px) {
  .person {
    &__text {
      font-size: 14px;
    }
  }
}
